nav.top-nav{
    background-color: #2e5970;
    top: 0px;
    right: 0px;
    left:0px;
    padding: 10px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    border-bottom: 2px solid black;
}

nav.top-nav h1{
    font-size: 44px;
    padding-left: 40px;
    font-style: italic;
}

nav.top-nav li{
  display: inline-block;
  margin: 5px;
  user-select: none;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

nav.top-nav li:hover{
  text-decoration: underline;
}

nav.top-nav ul{
  list-style:none;
}

nav.top-nav .pull-down-menu{
  display:none;
  position:absolute;
  background-color: white;
  color: #000;
}

nav.top-nav li:hover .pull-down-menu{
  display:block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-align: left;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 0.8em;
}

.dropdown-content a:hover {background-color: #ddd; border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;}

.dropdown:hover .dropdown-content {
  display: block;
}


a { color: inherit; } 
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

#icon{
  width: 49vw;
  left: 0;
  height: fit-content;
  text-align: left;
  font-size: 50px;
  color: white;
}

#navigation{
  font-size: 30px;
  width: 49vw;
  height: fit-content;
  display: flex;
  justify-content: right;
  align-items: center;
}
#navigation h1{
  font-size: 40px;
}

.about-section {
    background-color: #609D9D;
    padding: 20px 0 120px 40px;
    font-family: 'Roboto', sans-serif;
}

.about-section h1{
    text-align: left;
    margin-bottom: 0px;
    color: #FFF;
}

.about-section img{
    height: auto;
    max-width: 10em;
    float:left;
    align-content: left;
    text-align: left;
    padding-right: 40px;
    padding-bottom: 20px;
}

.bio {
  margin-top: 30px;
  padding-right: 40px;
  color: #FFF;
}

span {
  font-weight: bold;
}

.project-section {
  font-family: 'Roboto', sans-serif;
  padding: 20pt;
  padding-left: 40px;
  background-color: #89B6A5;
}

.project-section h1 {
    text-align: Left;
    color: #FFF;
}


#project-row {
  display: flex;
  justify-content: space-between;
}
#project {
  width: 18vw;
}
#project:hover {
  opacity: .5;
  transition: 0.25s;
}
#project-border {
  border-style: solid;
  border-color: #ccc;
  border-radius: 20px;
  width: 18vw;
  height: 15vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
#project-icon {
  width: 18vw;
}
#project-row h2{
  color: #FFF;
  text-decoration: underline;
}
#project-row p{
  color: #FFF;
}

#play-button {
  width: 18vw;
}

#game-images img{
  width:33%;
}

#project-desc {
  padding: 20px;
}


.experience-section {
  font-family: 'Roboto', sans-serif;
  padding: 20pt;
  padding-left: 40px;
  background-color: #92AF9C;
}

.experience-section h1 {
  text-align: Left;
  color: #FFF;
}

#experience-row {
  display: flex;
  height: 15vh;
  align-items: center;
}

#experience-icon {
  width: 11vh;
  height: 11vh;
}

/*#experience-icon:hover {
  opacity: 0.5;
  transition: 0.25s;
}*/

#experience-info {
  margin-left: 5vw;
  margin-top: 10px;
  height: 15vh;
  color: #FFF;
}
#experience-row p{
  color: #e2f6eC;
  margin-top: -10px;;
}
#line {
  display: flex;
  margin-bottom: none;
}

.resume-section {
    background-color: #72907C;
    font-family: 'Roboto', sans-serif;
    padding-left: 40px;
    padding: 20pt;
    color: #FFF;
}

.resume-section img{
    width: 60%;
    height: auto;
    display: block;
    margin: 40px auto 40px auto;
}



footer{
  padding-left: 80px;
  padding-right: 80px;
  background: #62766C;
  color: white;
  height: 20vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#connectText {
  font-size: 25px;
}
#icons {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
#footerIcon {
  width: 2vw;
  height: 2vw;
  padding: 10px;
}
#footerIcon:hover {
  opacity: 0.5;
  transition: 0.25s;
}
html {
  scroll-behavior: smooth;
}