.navbar {
    height: 5rem;
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    padding: 2rem 2rem;
    /* display: flex; */
    align-items: center;
    text-align: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
    background: #1a1a1a;
    
}

.desktopMenuListItem {
    margin: 1rem;
    cursor: pointer;
}

.desktopMenuListItem:hover {
    color: lightgreen;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid lightgreen;
}


.active {
    color: lightgreen;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid lightgreen;
}

.mobMenu {
    display: none;
    object-fit: cover;
    height: 1.8rem;
}

.navMenu {
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 15rem;
    background: #1f1f1f;
    border-radius: 1rem;
}

.listItem {
    color: white;
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    background: #1a1a1a;
}

@media screen and (max-width: 720px) {
    .mobMenu {
        display: flex;
        position: absolute;
        right: 2rem;
    }

    .desktopMenu {
        display: none;
    }
}